<?xml version="1.0" encoding="utf-8"?>
<!-- 
 *  This file is part of MythTV for Android
 * 
 *  MythTV for Android is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  MythTV for Android is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with MythTV for Android.  If not, see <http://www.gnu.org/licenses/>.
 *   
 * This software can be found at <https://github.com/MythTV-Android/mythtv-for-android/>
 *
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mythtv"
    android:versionCode="7"
    android:versionName="@string/app_version" >

    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <!-- Read income phone numbers to post caller ID to frontend as a message -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
    <!-- Mythmote fragments will keep the screen on -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <!-- Match incoming number to contact name when posting caller ID to frontend as a message  
    <uses-permission android:name="android.permission.READ_CONTACTS" />-->

    <supports-screens 
        android:anyDensity="true"
		android:largeScreens="true"
		android:normalScreens="true"
		android:smallScreens="true" />
    
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:hardwareAccelerated="true"
        android:name=".client.MainApplication"
        android:icon="@drawable/ic_mythtv_logo_beta_alt"
        android:label="@string/app_name"
        android:theme="@style/Theme.Mythtv"
        android:allowBackup="true">

		<activity 
			android:name=".client.ui.NavigationDrawerActivity"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
			
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
		</activity>
    
		<!-- Preferences UI -->
		<activity 
			android:name=".client.ui.preferences.MythtvPreferenceActivity" />
		<activity 
			android:name=".client.ui.preferences.LocationProfileEditor" />
		<activity 
			android:name=".client.ui.preferences.PlaybackProfileEditor" />
								
		<!-- Main Dashboard -->
		<activity 
			android:name=".client.ui.HomeActivity" />
		<activity 
			android:name=".client.ui.AwayActivity" />
				
		<!-- DVR Activities -->
		<activity 
			android:name=".client.ui.dvr.DvrNavigationDrawerActivity"
			android:uiOptions="splitActionBarWhenNarrow" />
		<activity 
			android:name=".client.ui.dvr.EpisodeActivity"
			android:uiOptions="splitActionBarWhenNarrow" />
		<activity 
			android:name=".client.ui.dvr.ProgramGroupActivity"
			android:uiOptions="splitActionBarWhenNarrow" />
		<activity 
			android:name=".client.ui.dvr.RecordingsActivity"
			android:uiOptions="splitActionBarWhenNarrow" />
		<activity 
			android:name=".client.ui.dvr.VideoActivity"
			android:screenOrientation="landscape" />
		<activity 
			android:name=".client.ui.dvr.UpcomingActivity" />
		<activity 
			android:name=".client.ui.dvr.GuideActivity"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
		<!-- activity 
			android:name=".client.ui.dvr.RecordingRulesActivity"
			android:uiOptions="splitActionBarWhenNarrow"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize" / -->
		<activity 
			android:name=".client.ui.dvr.RecordingRuleActivity"
			android:uiOptions="splitActionBarWhenNarrow"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
		<activity 
			android:name=".client.ui.dvr.RecordingRuleEditActivity"
			android:uiOptions="splitActionBarWhenNarrow"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
																
		<!-- Frontends Activities -->
		<activity 
			android:name=".client.ui.frontends.MythmoteActivity" />
		
		<!-- MythTV Setup Activities -->
		<activity 
		    android:name=".client.ui.setup.SetupActivity" />
		<activity 
		    android:name=".client.ui.setup.capture.CaptureCardsActivity" />
		
		<!-- MythTV Android Services -->
		<service android:name=".service.MythtvService" android:exported="false">
			<intent-filter>
                <action android:name="org.mythtv.background.ACTION_CONNECT" />
            </intent-filter>
        </service>

		<service android:name=".service.channel.ChannelDownloadService" android:process=":channel" android:exported="false">
			<intent-filter>
                <action android:name="org.mythtv.background.channelDownload.ACTION_DOWNLOAD" />
            </intent-filter>
		</service>
		
		<service android:name=".service.frontends.FrontendsDiscoveryService" android:process=":frontends" android:exported="false">
			<intent-filter>
                <action android:name="org.mythtv.background.frontends.ACTION_DISCOVER" />
                <action android:name="org.mythtv.background.frontends.ACTION_PROGRESS" />
                <action android:name="org.mythtv.background.frontends.ACTION_COMPLETE" />
            </intent-filter>
		</service>
		
				<service android:name=".service.dvr.LiveStreamService" android:process=":liveStream" android:exported="false">
			<intent-filter>
                <action android:name="org.mythtv.background.liveStream.ACTION_COMPLETE" />
                <action android:name="org.mythtv.background.liveStream.ACTION_PROGRESS" />
                <action android:name="org.mythtv.background.liveStream.ACTION_CREATE" />
                <action android:name="org.mythtv.background.liveStream.ACTION_PLAY" />
                <action android:name="org.mythtv.background.liveStream.ACTION_UPDATE" />
                <action android:name="org.mythtv.background.liveStream.ACTION_REMOVE" />
            </intent-filter>
        </service>
		
		<service android:name=".service.dvr.RecordedService" android:process=":recorded" android:exported="false">
			<intent-filter>
                <action android:name="org.mythtv.background.recorded.ACTION_DOWNLOAD" />
                <action android:name="org.mythtv.background.recorded.ACTION_REMOVE" />
            </intent-filter>
        </service>
		
		<service android:name=".service.preferences.PreferencesRecordedDownloadService" android:process=":preferencesRecorded" android:exported="false">
			<intent-filter>
                <action android:name="org.mythtv.background.preferencesRecordedDownload.ACTION_DOWNLOAD" />
            </intent-filter>
        </service>
		
		<service android:name=".service.dvr.UpcomingDownloadService" android:process=":upcoming" android:exported="false">
			<intent-filter>
                <action
                    android:name="org.mythtv.background.upcomingDownload.ACTION_DOWNLOAD" />
            </intent-filter>
		</service>
		
		<service android:name=".service.guide.ProgramGuideDownloadService" android:process=":programGuide" android:exported="false">
			<intent-filter>
                <action
                    android:name="org.mythtv.background.programGuideDownload.ACTION_DOWNLOAD" />
            </intent-filter>
        </service>
		
		<service android:name=".service.guide.ProgramGuideDownloadServiceNew" android:process=":programGuideNew" android:exported="false">
			<intent-filter>
                <action android:name="org.mythtv.background.programGuideDownloadNew.ACTION_DOWNLOAD" />
                <action android:name="org.mythtv.background.programGuideDownloadNew.ACTION_PROGRESS" />
                <action android:name="org.mythtv.background.programGuideDownloadNew.ACTION_COMPLETE" />
            </intent-filter>
        </service>
		
		<service android:name=".service.guide.ProgramGuideCleanupService" android:process=":programGuideCleanup" android:exported="false">
			<intent-filter>
                <action
                    android:name="org.mythtv.background.programGuideCleanup.ACTION_CLEANUP" />
            </intent-filter>
		</service>
			
		<service android:name=".service.dvr.RecordingRuleDownloadService" android:process=":recordingRule" android:exported="false">
			<intent-filter>
                <action android:name="org.mythtv.background.recordingRuleDownload.ACTION_DOWNLOAD" />
            </intent-filter>
        </service>
		
		<!-- MythTV Android Providers -->
		<provider
            android:name=".provider.MythtvProvider"
            android:authorities="org.mythtv.frontend"
            android:exported="false" />
        		
	</application>

</manifest>
