<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mythtv"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
  	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <!-- supports-screens 
        android:anyDensity="true"
		android:largeScreens="true"
		android:normalScreens="true"
		android:smallScreens="true" / -->
    
    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="11" />

    <application
        android:hardwareAccelerated="true"
        android:name=".client.MainApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Mythtv" android:debuggable="true">

		<activity 
			android:name=".client.ui.MythtvMasterBackendActivity">
			
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
		</activity>
    
		<!-- Main Dashboard -->
		<activity 
			android:name=".client.ui.HomeActivity" />
		
		<!-- DVR Activities -->
		<activity 
			android:name=".client.ui.dvr.ProgramGroupsActivity" />
		<activity 
			android:name=".client.ui.dvr.ProgramGroupActivity" />
		<activity 
			android:name=".client.ui.dvr.RecordingssActivity" />
						
		<!-- MythTV Setup Activities -->
		<activity 
		    android:name=".client.ui.setup.SetupActivity" />
		<activity 
		    android:name=".client.ui.setup.capture.CaptureCardsActivity" />
		
	</application>

</manifest>